@font-face {
	font-family: 'InconsolataMedium';
	src: url('../fonts/Inconsolata-fontfacekit/Inconsolata-webfont.eot');
	src: url('../fonts/Inconsolata-fontfacekit/Inconsolata-webfont.eot?#iefix') format('embedded-opentype'),
			url('../fonts/Inconsolata-fontfacekit/Inconsolata-webfont.woff') format('woff'),
			url('../fonts/Inconsolata-fontfacekit/Inconsolata-webfont.ttf') format('truetype'),
			url('../fonts/Inconsolata-fontfacekit/Inconsolata-webfont.svg#InconsolataMedium') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'CodaHeavy';
	src: url('../fonts/coda-fontfacekit/Coda-Heavy-webfont.eot');
	src: url('../fonts/coda-fontfacekit/Coda-Heavy-webfont.eot?#iefix') format('embedded-opentype'),
			url('../fonts/coda-fontfacekit/Coda-Heavy-webfont.woff') format('woff'),
			url('../fonts/coda-fontfacekit/Coda-Heavy-webfont.ttf') format('truetype'),
			url('../fonts/coda-fontfacekit/Coda-Heavy-webfont.svg#CodaHeavy') format('svg');
	font-weight: normal;
	font-style: normal;
}

li {font: 12px/18px 'InconsolataMedium', Arial, sans-serif;letter-spacing: 0; }
body { background: #fff; font-family: "InconsolataMedium", "Book Antiqua", Palatino, serif;  }

h1, h2, h3, h4, h5, h6 { color: #888; }
h1 { font-size:25px; margin: 0; }
h2 { font-size: 15px; }

p { font-family: "InconsolataMedium"; font-size: 14px;  color: #666; }
a, a:hover, a:active, a:visited { text-decoration: none; border-bottom:1px dotted; color: #222; }

#wrapper { overflow: hidden; width: 1000px; padding: 0 10px 10px 20px; }
#header { overflow: hidden; margin: 5px 0 0 0px; height: 30px; width: 950px; }
#nav { width: 130px; height: 500px; float: left; font-size: 13px; margin: 40px 5px 0 0; }
#nav li { margin: 20px 0 0 0;  padding: 0 0 0 5px; width: 120px; }
#nav li.selected { font-weight: bold; background: #ccc; }
#content { float: left; height: 780px; min-width: 850px; overflow: hidden;}
#header h1 a {color: #777; font: 20px/28px 'CodaHeavy', Arial, sans-serif;letter-spacing: 0; overflow: hidden; }
#header h1 { float: left; }
#social_media { float: right; }
#footer { clear: both; width: 95%; border-top: solid 1px #ddd; color: #aaa; margin: 20px 0 0 0; padding: 20px 0 0 0; font-size: 12px; float: left; }

#gallery, #single, #contact, #about { height: 700px; margin: 35px 0 0 0; padding: 10px; overflow: hidden }
#self_pic, #contact_pic { margin: 16px 0 0 0; padding: 0 0px 30px 0; }
iframe { border: none; height: 700px; overflow: hidden;  }
#single { margin: 50px 0 0 10px; margin-left: 15%; }
ul { list-style: none; padding-left: 0; margin: 0 0 10px 0; }
ul li { margin: 5px 0 0 0; }
ul li a { color: #777; }
ul ul { padding-left: 0.2em; list-style: square; list-style-position: inside;}

#about #self_pic, #about #statement, #self_pic span { float: left; }
#self_pic { width: 300px; border: none;  }
#self_pic span { font-size: 11px; color: #777; margin: 6px 0 0 10px;}
#self_pic img { width:265px; }
#statement { width: 350px; }

#gallery_text { width: 800px; }